
@{
    ViewBag.Title = "Index";
}

<h2 class="centralize fat">Welcome to the hellmaster's dashboard</h2>

<article class="centralize">
    <h3>We were waiting for you...</h3>
    <p>updates are listed below the security image</p>
    <img class="restrict-size radial" src="~/front/img/admin.gif" alt="Welcome back, master" />
    <h3>Here are some of the things we prepared for you today:</h3>
    <p>You can wiew a list of soul sources that offer new servants</p>
    <img class="restrict-size" src="~/front/img/flame02.gif" alt="Fires for you, master" />
    <p>You can wiew a list of current slaves that you own</p>
    <img class="restrict-size" src="~/front/img/flame01.gif" alt="Flames for you, master" />
    <p>All that and much more is located in the menu</p>
</article>