
@{
    ViewBag.Title = "Index";
}

@using Mandatory_Assignment.Models;
@using Mandatory_Assignment.Infrastructure;

<h2>Show all invoices for a customer</h2>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    <label>Customer: </label>
    @Html.DropDownList("ViewReservations") <br />
    <input type="submit" value="Show invoices for this customer" />
}

@if (ViewBag.Selected != null)
{
    <h2>Showing invoices for @ViewBag.Selected</h2>
    @model IEnumerable<Mandatory_Assignment.Models.Reservation>
    foreach (Reservation reservation in ViewBag.repository.Reservations)
    {
        if (ViewBag.Selected == reservation.Customer.Firstname + " " + reservation.Customer.Lastname)
        {
            @Html.Partial("_Invoice", reservation)
        }
    }
}