
@{
    ViewBag.Title = "Index";
}

@using Mandatory_Assignment.Models;
@using Mandatory_Assignment.Infrastructure;

<h2>Invoices</h2>
@model IEnumerable<Mandatory_Assignment.Models.Reservation>
@foreach (Reservation reservation in ViewBag.repository.Reservations)
{
    @Html.Partial("_Invoice", reservation)
}