
@{
    ViewBag.Title = "Index";
}

<h2 class="centralize fat">Contact us</h2>

<article class="centralize">
    <h3>Here's how to do it:</h3>

    <p><b>Step 1 -</b> draw this circle:</p>
    <img class="restrict-size radial" src="~/front/img/phone.gif" alt="Circle of magic telephone" />
    <p><b>Step 2 -</b> start chanting the following words:</p>
    <p><em>"Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn!"</em></p>
    <p><b>Step 3 -</b> wait until asked to sell your soul</p>
    <p><b>Step 4 -</b> sell your soul and we will be summoned to answer your questions</p>
</article>