
@{
    ViewBag.Title = "Index";
}

<h2 class="centralize fat">About Us</h2>
<article class="centralize">
    <p>At Pet Paradise Hotel, we offer the ultimate pet boarding experience for your dog, cat, or any other beloved pet. Our attentive staff is passionate about animals and will go the extra mile to ensure that your pet has a safe and enjoyable time with us.</p>
    <p>Our resort locations are uniquely tailored to meet all of your pet's desires. Whether it's making a splash in our signature bone-shaped pool or relaxing at storytime, Pet Paradise Hotel promises to create a memorable stay for your pet. In addition, our animal guests can indulge in a day of excitement and adventure at day camp or have a spa day and receive a fresh, new look by one of our professional groomers.</p>
    <h3>Your companion is waiting to discover new friendships in our Paradise.</h3>
    <img class="restrict-size" src="~/front/img/logo--large.png" alt="Our magnificent logo" />
    <p>And that is exactly why on our logo are displayed two pets behind a fence. And guess what, the bone-shaped pool is usually filled with acid.</p>
    <h3>Here's a gallery of activities that your pets are going to be involved during the stay:</h3>
    <hr />
    <img class="restrict-size" src="~/front/img/ab01.jpg" alt="Pets doing activities, figure 01" />
    <hr />
    <img class="restrict-size" src="~/front/img/ab02.jpg" alt="Pets doing activities, figure 02" />
    <hr />
    <img class="restrict-size" src="~/front/img/ab03.jpg" alt="Pets doing activities, figure 03" />
    <hr />
    <img class="restrict-size" src="~/front/img/ab04.jpg" alt="Pets doing activities, figure 04" />
    <hr />
    <h3>We guarantee that your pets will be alive upon return</h3>
    <p>That is a fat lie as well. If your pets will not be alive - they will be undead, we have magicks. Reconnaissance is dangerous, therefore no guarantees.</p>
</article>
