
@{
    ViewBag.Title = "Index";
}

<h2 class="centralize fat">Price list</h2>

<table>
    <thead>
        <tr>
            <td>Specie</td>
            <td>Price</td>
        </tr>
    </thead>
    @foreach (KeyValuePair<string, int> kvp in ViewBag.repository.Prices)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>@kvp.Value</td>
        </tr>
    }
</table>
<article class="centralize">
    <h3>Prices are per start day</h3>
    <p>Same prices apply for special gourmet burgers and wraps with the listed meat filling<br />They can be bought on the spot.</p>
</article>